{% extends 'weather/base.html' %}

{% block contents %}
<main role="main">   
    <div class="container">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">天気サイト比較</h1>
        </div>
        <div class="row">
            {% for site in weather_sites %}
            <div class="card-deck mb-3 mx-auto">
                <div class="card-body">
                    <header>
                        <h2>{{ site.web_site }}</h2>
                    </header>
                    <section class="container">
                        <p>今日の天気: <b>{{ site.today_weather }}</b></p>
                        <p>今日の気温: <b>(最高){{ site.today_high_temp }}、(最低){{ site.today_low_temp }}</b></p>
                        <p>明日の天気: {{ site.tomorrow_weather }}</p>
                        <p>明日の気温: (最高){{ site.tomorrow_high_temp }}、(最低){{ site.tomorrow_low_temp }}</p>
                    </section>
                    <a class="btn btn-secondary" href="{{ site.url }}" role="button">サイトへ</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}